//== Keyframes

@keyframes rpLoader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes confetti {
    0% { top: 100%; };
    100% { top: -100%; };
}

@keyframes scrollindicator {
    0%, 100% {
        transform: translateX(-50%) translateY(-5px);
    }
    50% {
        transform: translateX(-50%) translateY(5px);
    }
}

@keyframes expandContract {
    0% { transform: scale(1); }
    50% { transform: scale(1.25); }
    100% { transform: scale(1); }
}

@keyframes neonFlicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        // text-shadow:
        //     -0.2rem -0.2rem 1rem #fff,
        //     0.2rem 0.2rem 1rem #fff,
        //     0 0 2rem var(--neon-text-color),
        //     0 0 4rem var(--neon-text-color),
        //     0 0 6rem var(--neon-text-color),
        //     0 0 8rem var(--neon-text-color),
        //     0 0 10rem var(--neon-text-color);

        // box-shadow:
        //     0 0 .5rem #fff,
        //     inset 0 0 .5rem #fff,
        //     0 0 2rem var(--neon-border-color),
        //     inset 0 0 2rem var(--neon-border-color),
        //     0 0 4rem var(--neon-border-color),
        //     inset 0 0 4rem var(--neon-border-color);
        filter: brightness(100%);
    }

    20%, 24%, 55% {
        // text-shadow: none;
        // box-shadow: none;
        filter: brightness(0%);
    }
}
